* {
  padding: 0%;
  margin: 0%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-color: rgba(51, 51, 51, 255);
}

/* Header */

#header {
  background-color: rgba(51, 51, 51, 255);
  float: left;
  width: 100%;
}

#logo {
  max-width: 20%;
  margin-top: 40px;
}

ul {
  font-weight: bolder;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 255);
  display: flex;
  position: relative;
  margin-left: 80%;
  bottom: 85px;
}

li a {
  display: block;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  color: white;
  font-size: larger;
  transition: 0.25s;
}

li a:hover {
  scale: 1.25;
}

/* Mid section */

.ship {
  flex-direction: row;
  flex-basis: auto;
  display: flex;
}

.container1 {
  max-width: 33.33%;
  background-color: rgba(51, 51, 51, 255);
  display: flex;
  padding-top: 6%;
  flex-direction: column;
}

.title {
  max-height: 10%;
  max-width: 40%;
  margin-left: 39%;
}

.PT {
  flex-direction: row;
  display: flex;
}

.photo {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.albums {
  max-width: 120%;
  margin-top: 5%;
  border-radius: 5%;
  margin-left: 70%;
}

.tekst {
  font-size: 170%;
  margin-top: 5.65%;
  margin-left: 2%;
}

.content1 {
  margin-bottom: 31%;
}

.content2 {
  margin-bottom: 31%;
}

.content3 {
  margin-bottom: 29.5%;
}

.titleb {
  max-height: 10%;
  max-width: 40%;
  margin-left: 8%;
}

.PTb {
  flex-direction: row;
  display: flex;
}

.photob {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.albumsb {
  max-width: 67%;
  margin-top: 11%;
  border-radius: 5%;
  margin-left: 30%;
}

.tekstb {
  font-size: 170%;
  margin-top: 6%;
  margin-left: 1.25%;
  width: 40%;
}

.content1b {
  margin-bottom: 27.5%;
}

.content2b {
  margin-bottom: 26%;
}

.content3b {
  margin-bottom: 25.5%;
}

.container2 {
  max-width: 33.33%;
  display: flex;
  background-color: rgba(51, 51, 51, 255);
}

#cover {
  max-width: 80%;
  margin: 10%;
  border-radius: 5%;
}

.container3 {
  max-width: 33.33%;
  background-color: rgba(51, 51, 51, 255);
  display: flex;
  padding-top: 6%;
  flex-direction: column;
}

/* Footer */

#footer {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  float: left;
  background-color: white;
}

#socials {
  margin-top: 0.85%;
}

#insta {
  max-width: 1.5%;
  margin-top: 2.25%;
  margin-left: 20px;
}

#facebook {
  max-width: 1.3%;
  margin-left: 10px;
  margin-bottom: 0.15%;
}

#spotify {
  max-width: 1.5%;
  margin-top: 2.25%;
  margin-left: 10px;
}

#youtube {
  max-width: 1.5%;
  margin-top: 2.25%;
  margin-left: 10px;
}

#tiktok {
  max-width: 1%;
  margin-left: 10px;
  margin-bottom: 0.4%;
}

#credits {
  float: right;
  margin-top: 2%;
  margin-right: 0.3%;
}

#creds {
  color: black;
}

/* Shop page */

#doos1 {
  max-width: 50%;
  max-height: 600px;
  position: relative;
  background-color: aqua;
}

#inputs {
  float: left;
  margin-top: 20%;
  position: relative;
  position: inline-block;
}

#doos2 {
  max-width: 50%;
  max-height: 600px;
  margin-right: 10%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: bisque;
}

#koop {
  max-width: 70%;
  position: inline-block;
  border-radius: 5%;
}

.textblock {
  padding: 30px;
  width: 35%;
  font-size: larger;
  margin-top: auto;
  position: absolute;
  top: 20%;
  left: 5%;
}

/*Picture Container*/
.picframe {
  display: grid;
  width: 1000px;
  padding: 20px;
  padding-right: 15px;
  position: absolute;
  top: 22%;
  right: 5%;
}

#knop {
  color: black;
  margin-right: 30%;
  width: 100px;
}

input[type="text"] {
  color: rgb(0, 0, 0);
}

table {
  border-style: solid;
}
